<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a class="site_title"><i class="fa fa-pie-chart"></i> <span>Miffy App</span></a>
    </div>

    <div class="clearfix"></div>

    <!--<div class="profile clearfix">
      <div class="profile_pic">
        <img src="images/img." alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>Karl</h2>
      </div>
    </div>-->

    <br />

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="/app/dashboard">Dashboard</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-group"></i> Masterfiles <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="/app/masterfiles/employee/list">Employees</a></li>
              <li><a routerLink="/app/masterfiles/product/list">Products</a></li>
              <li><a routerLink="/app/masterfiles/employee/list">Suppliers</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-line-chart"></i> Sales <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="/app/masterfiles/employee/list">Sales Order</a></li>
              <li><a routerLink="/app/masterfiles/employee/list">Sales Invoice</a></li>
              <li><a routerLink="/app/masterfiles/employee/list">Sales Return</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-cube"></i> Inventory <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="/app/administrative/account/list">Stock In / Stock Out</a></li>
              <li><a routerLink="/app/administrative/account/list">Adjustment In / Adjustment Out </a></li>
              <li><a routerLink="/app/administrative/account/list">Stock Take</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-newspaper-o"></i> Purchases <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="/app/administrative/account/list">Purchase Order</a></li>
              <li><a routerLink="/app/administrative/account/list">Recieving Receipt </a></li>
              <li><a routerLink="/app/administrative/account/list">Purchase Return</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-money"></i> Accounting <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a routerLink="/app/administrative/account/list">Purchase Order</a></li>
              <li><a routerLink="/app/administrative/account/list">Recieving Receipt </a></li>
              <li><a routerLink="/app/administrative/account/list">Purchase Return</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-bar-chart-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#level1_1">Item Performance Report</a>
                <li>
                  <a>Sales<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li class="sub_menu">
                      <a href="level2.html">Profit / Loss Report</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a>Inventory<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li class="sub_menu">
                      <a href="level2.html">Stock Card</a>
                    </li>
                  </ul>
                </li>
            </ul>
            </li>
            <li><a><i class="fa fa-key"></i> Adminstrator <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/app/administrative/account/list">Accounts</a></li>
              </ul>
            </li>
        </ul>
      </div>

    </div>
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" routerLink="/">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>