<div>
  <div class="toolbar">
    <div class="btn-group">
      <a routerLink="/app/masterfiles/employee/new" type="button" class="btn btn-default">
        <span class="docs-tooltip" data-toggle="tooltip">
          <span class="fa fa-file-o"></span>
        </span>
      </a>
      <a routerLink="/app/masterfiles/employee/list" type="button" class="btn btn-default">
        <span class="docs-tooltip" data-toggle="tooltip">
          <span class="fa fa-folder"></span>
        </span>
      </a>
      <a routerLink="/app/masterfiles/employee/list" type="button" class="btn btn-default">
        <span class="docs-tooltip" data-toggle="tooltip">
          <span class="fa fa-pencil"></span>
        </span>
      </a>
      <a routerLink="/app/masterfiles/employee/list" type="button" class="btn btn-default">
        <span class="docs-tooltip" data-toggle="tooltip">
          <span class="fa fa-trash"></span>
        </span>
      </a>
    </div>
    <div class="pull-right">
      <div class="btn-group">
        <a routerLink="/app/masterfiles/employee/new" type="button" class="btn btn-default">
        <span class="docs-tooltip" data-toggle="tooltip">
          <span class="fa fa-refresh"></span>
        </span>
      </a>
        <a routerLink="/app/masterfiles/employee/list" type="button" class="btn btn-default">
        <span class="docs-tooltip" data-toggle="tooltip">
          <span class="fa fa-cog"></span>
        </span>
      </a>
      </div>
      <span class="clearfix"></span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>